[{simple, [{port, 8080},
           {oauth_providers,
            [
            %% {<<"google">>,
            %%  [{client_id, <<"...">>},
            %%   {client_secret, <<"...">>},
            %%   {callback_uri, <<"/auth/google/callback">>},
            %%   {scope, << "https://www.googleapis.com/auth/userinfo.email ",
            %%              "https://www.googleapis.com/auth/userinfo.profile" >>},
            %%   {authorize_uri, <<"https://accounts.google.com/o/oauth2/auth">>},
            %%   {token_uri, <<"https://accounts.google.com/o/oauth2/token">>}
            %%  ]},
            %%  {<<"facebook">>,
            %%   [{client_id, <<"...">>},
            %%    {client_secret, <<"...">>},
            %%    {callback_uri, <<"/auth/facebook/callback">>},
            %%    {scope, <<"email">>},
            %%    {authorize_uri, <<"https://www.facebook.com/dialog/oauth">>},
            %%    {token_uri, <<"https://graph.facebook.com/oauth/access_token">>}
            %%   ]},
            %%  {<<"github">>,
            %%   [{client_id, <<"...">>},
            %%    {client_secret, <<"...">>},
            %%    {callback_uri, <<"/auth/github/callback">>},
            %%    {scope, <<>>},
            %%    {authorize_uri, <<"https://github.com/login/oauth/authorize">>},
            %%    {token_uri, <<"https://github.com/login/oauth/access_token">>}
            %%   ]},
            %%  {<<"mailru">>,
            %%   [{client_id, <<"...">>},
            %%    {client_secret, <<"...">>},
            %%    {secret_key, <<"...">>},
            %%    {callback_uri, <<"/auth/mailru/callback">>},
            %%    {scope, <<>>},
            %%    {authorize_uri, <<"https://connect.mail.ru/oauth/authorize">>},
            %%    {token_uri, <<"https://connect.mail.ru/oauth/token">>}
            %%   ]},
            %%  {<<"paypal">>,
            %%   [{client_id, <<"...">>},
            %%    {client_secret, <<"...">>},
            %%    {callback_uri, <<"/auth/paypal/callback">>},
            %%    {scope, <<"https://identity.x.com/xidentity/resources/profile/me">>},
            %%    {authorize_uri, <<"https://identity.x.com/xidentity/resources/authorize">>},
            %%    {token_uri, <<"https://identity.x.com/xidentity/oauthtokenservice">>}
            %%   ]},
            %%  {<<"vkontakte">>,
            %%   [{client_id, <<"...">>},
            %%    {client_secret, <<"...">>},
            %%    {callback_uri, <<"/auth/vkontakte/callback">>},
            %%    {scope, <<"uid,first_name,last_name,sex,photo">>},
            %%    {authorize_uri, <<"https://oauth.vk.com/authorize">>},
            %%    {token_uri, <<"https://oauth.vk.com/access_token">>}
            %%   ]},
            %%  {<<"yandex">>,
            %%   [{client_id, <<"...">>},
            %%    {client_secret, <<"...">>},
            %%    {callback_uri, <<"/auth/yandex/callback">>},
            %%    {scope, <<>>},
            %%    {authorize_uri, <<"https://oauth.yandex.ru/authorize">>},
            %%    {token_uri, <<"https://oauth.yandex.ru/token">>}
            %%   ]}
            ]}
          ]}].
